 * {
    padding: 0;
    margin: 0;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.box {
    width: 960px;
    margin: 0 auto;
}

body {
    background: url("../images/bg.jpg");
}

/*nav*/
.luhan-nav {
    height: 70px;
    background-color: black;
    width: 100%;
    position: fixed;
}

/*firstPage*/
.firstPage {
    position: relative;
    height: 677px;
}
video{
    width: 300px;
    position: absolute;
    top: 90px;
    left: 20px;
    display: none;
    z-index: 1;
}
.ok{
width: 675px;
    margin-top: 140px;
}
.slogo {
    position: absolute;
    left: 170px;
    width: 550px;
    top: 70px;
}

.music1 {
    position: absolute;
    top: 170px;
    left: 495px;
}

.music2 {
    position: absolute;
    top: 340px;
    left: 680px;
}

.person2 {
    position: absolute;
    width: 522px;
    /*right: 30px;*/
    top: 110px;
}
.siginura{
    width: 121px;
    position: absolute;
    bottom: 20px;
    left: 650px;
}
/*secondPage*/
.secondPage{
    height: 677px;
    position: relative;
}
.secondPage-img-left{
    width: 504px;
    position: absolute;
    top: 66px;
    right: 40%;
    display: none;
    /*margin-left: 20px;*/
}

.tab{
    position: absolute;
    width: 970px;
    height: 400px;
    top: 170px;
    right: 75px;
}
.product-1{
    width: 461px;
    height: 200px;
    overflow: hidden;
    margin-bottom: 12px;
}
.p-t-1{
    background: url("../images/pic1%20(1).png") no-repeat;
    width: 461px;
    height: 187px;
}
.p-b-1{
    background: url("../images/pic6.png") no-repeat center center;
    width: 461px;
    height: 187px;
    display: none;
}
.product-1 ul,.product-2 ul,.product-3 ul,.product-4 ul{
    margin-left: 250px;
    width: 180px;
}
.p-b-1 ul,.p-b-2 ul,.p-b-3 ul,.p-b-4 ul{
    margin-left: 200px;
}
.product-1 h3,.product-2 h3,.product-3 h3,.product-4 h3{
    height: 45px;
    font-size: 20px;
    color: white;
    line-height: 50px;
    margin-top: 10px;
    font-weight: 700;

}
.product-1 .name,.product-2 .name,.product-3 .name,.product-4 .name{
    height: 25px;
    font-size: 18px;
    color: white;
    line-height: 25px;
}
.product-1 .circle ,.product-2 .circle,.product-3 .circle,.product-4 .circle{
    height: 20px;
    margin: 5px 0;
}
.circle a{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}
.yellow{
    background-color: #F5E806;
}
.red{
    background-color: #961E4B;
}
.green{
    background-color: green;
}
.blue{
    background-color: #2C8D9E;
}
.black{
    background-color: black;
}
.product-1 .price,.product-2 .price,.product-3 .price,.product-4 .price{
    height: 36px;
    line-height: 36px;
    font-size: 30px;
    color: white;
    font-weight: 700;
    margin-bottom: 10px;
}
.product-1 span a,.product-2 span a,.product-3 span a,.product-4 span a{
    color: white;
}
.product-2{
    width: 461px;
    height: 200px;
    overflow: hidden;
    margin-bottom: 12px;

}
.p-t-2{
    background: url("../images/pic2%20(1).png") no-repeat;
    width: 461px;
    height: 187px;
}
.p-b-2{
    background: url("../images/pic7.png") no-repeat center center;
    width: 461px;
    height: 187px;
    display: none;
}
.product-3{
    width: 461px;
    height: 200px;
    overflow: hidden;
    margin-bottom: 12px;
}
.p-t-3{
    background: url("../images/pic3%20(1).png");
    width: 461px;
    height: 187px;
}
.p-b-3{
    background: url("../images/pic8.png") no-repeat center center;
    width: 461px;
    height: 187px;
    display: none;
}
.product-4{
    width: 461px;
    height: 200px;
    overflow: hidden;
    margin-bottom: 12px;

}
.p-t-4{
    background: url("../images/pic4.png");
    width: 461px;
    height: 187px;
}
.p-b-4{
    background: url("../images/pic9.png") no-repeat center center;
    width: 461px;
    height: 187px;
    display: none;
}
/*thirdPage*/
.thirdPage{
    position: relative;
    /*height: 677px;*/

}
.third-top,.third-more {
    margin: 0 auto;

}

.third-top{
    position: relative;
    width: 350px;
    height: 119px;
}
.third-top img{
    position: absolute;
}
.third-more{
    width: 283px;
    height: 150px;
    position: absolute;
    margin-left: 540px;
    margin-top: 10px;
    cursor: pointer;
}
.third-more img{
    position: absolute;
    bottom: 0;
}
.third-title {
    color: #5f5f5f;
    font-size: 24px;
    text-align: center;
    width: 100%;
    height: 33px;
    line-height: 33px;
}
.pic{
    margin: 75px 83px 100px 83px;
    position: relative;
    height: 305px;
    display: none;
}
.pic li{
    position: absolute;
    left:301px;
    top:0;
}
.pic li img{
    width:100%;
}
.arrow-3{
    opacity: 0;
}
.prev,.next{
    width:76px;
    height:112px;
    position: absolute;
    top:50%;
    margin-top:-56px;
    background: url(../images/prev.png) no-repeat;
    z-index: 99;
}
.next{
    right:0;
    background-image: url(../images/next.png);
}